---
layout: add-ons
title: Add-ons
description: Plugins and themes can extend Spress to do almost anything you can imagine.
---
<section>
    <!-- Submit add-ons -->
    <div class="br-top-2x container">
        <div class="row">
            <div class="text-right">
                <p class="lead">
                    Do You have a new plugin or theme?
                    <a href="{{ site.url }}/add-ons/submit">Share it</a> with the Spress community.
                </p>
            </div>
        </div>
    </div>
    <!-- /Submit add-ons -->
    {% if site.data.addonsThemes | length > 0 %}
        <!-- Featured themes -->
        <div class="container">
        
            <h2><span class="label label-default">featured</span> Themes</h2>
            
            <div class="row br-top-2x">
                {% for theme in site.data.addonsThemes | slice(0, 3) %}
                <div class=" col-md-4">
                    {% include 'item-galery.html' with theme only %}
                </div>
                {% endfor %}
            </div>
            
            {% if site.data.addonsThemes | length > 3 %}
            <div class="row br-top-2x">
                {% for theme in site.data.addonsThemes | slice(3, 3) %}
                <div class=" col-md-4">
                    {% include 'item-galery.html' with theme only %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            {% if site.data.addonsThemes | length > 6 %}
            <p class="text-right">
                <a href="/add-ons/themes/">
                    More themes
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </p>
            {% endif %}
        </div>
        <!-- /Featured themes -->
    {% endif %}
    
    {% if site.data.addonsPlugins | length > 0 %}
        <!-- Featured plugins -->
        <div class="container">
        <h2><span class="label label-default">featured</span> Plugins</h2>
        
        <div class="row br-top-2x">
            {% for plugin in site.data.addonsPlugins | slice(0, 3) %}
            <div class=" col-md-4">
                {% include 'item-galery.html' with plugin only %}
            </div>
            {% endfor %}
        </div>
        
        {% if site.data.addonsPlugins | length > 3 %}
        <div class="row br-top-2x">
            {% for plugin in site.data.addonsPlugins | slice(3, 3) %}
            <div class=" col-md-4">
                {% include 'item-galery.html' with plugin only %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if site.data.addonsPlugins | length > 6 %}
        <p class="text-right">
            <a href="/add-ons/plugins/">
                More plugins
                <i class="fa fa-arrow-circle-o-right"></i>
            </a>
        </p>
        {% endif %}
    </div>
    <!-- /Featured plugins -->
    {% endif %}
</section>