<div class="galery-item">
    <a href="{{ url_info }}">
        <div class="galery-item-featured">
            {% if price %}
            <span class="label label-warning">{{ price }}</span>
            {% endif %}
            
            {% if pay_with_tweet %}
            <span class="label label-success">Pay with a Tweet</span>
            {% endif %}
        </div>
        
        {% if url_thumbnail %}
            <img class="img-thumbnail" src="{{ url_thumbnail }}"/>
        {% else %}
            <img class="img-thumbnail" src="{{ sit.url }}/assets/img/thumbs/plugin.png"/>
        {% endif %}
    </a>
    <div>
        {% if is_theme %}
            <i title="Desktop support" class="fa fa-desktop"></i>
            
            {% if support_movile %}
            <i title="Movile support" class="fa fa-mobile"></i>
            {% endif %}
        {% endif %}
        <a class="meta-name" href="{{ url_info }}">{{ name }}</a> by
        <a class="meta-author" href="{{ url_author }}" rel="nofollow">{{ author }}</a>
        <p>
            {% for tag in tags %}
                <span class="label label-danger">{{ tag }}</span>
            {% endfor %}
        </p>
        <p class="meta-description">
            {{ description }}
            
            {% if url_demo %}
                <a href="{{ url_demo }}">Live demo</a>.
            {% endif %}
        </p>
    </div>
</div>