<div class="galery-item">
    <a href="{{ url_info }}">
        <div class="galery-item-featured">
        
            {% if is_theme %}
            <span class="label label-default">
                <i title="Desktop support" class="fa fa-desktop"></i>
                
                {% if support_movile %}
                <i title="Movile support" class="fa fa-mobile"></i>
                {% endif %}
            </span>
            {% endif %}
            
            {% if price %}
            <span class="label label-warning">{{ price }}</span>
            {% endif %}
            
            {% if pay_with_tweet %}
            <span class="label label-success">Pay with a Tweet</span>
            {% endif %}
        </div>
        
        
            {% if url_thumbnail %}
                <img class="img-thumbnail" src="{{ url_thumbnail }}"/>
            {% else %}
                {% if is_theme %}
                    <img class="img-thumbnail" data-src="holder.js/300x210/text:Theme"/>
                {% else %}
                    <img class="img-thumbnail" src="{{ sit.url }}/assets/img/thumbs/plugin.png"/>
                {% endif %}
            {% endif %}
    </a>
    <div>
        <a class="meta-name" href="{{ url_info }}">{{ name }}</a> by
        <a class="meta-author" href="{{ url_author }}" rel="nofollow">{{ author }}</a>
        <p class="meta-description">
            {{ description }}
        </p>
    </div>
</div>