<div class="list-group">
    <a href="/docs/getting-started" class="list-group-item {% if page.id == 'docs-getting-started-index-md' %}active{% endif %}">
        Getting started
    </a>
    <a href="/docs/how-it-work/" class="list-group-item {% if page.id == 'docs-how-it-work-index-md' %}active{% endif %}">
        How it work?
    </a>
    <a href="/docs/configuration/" class="list-group-item {% if page.id == 'docs-configuration-index-md' %}active{% endif %}">
        Configuration
    </a>
    <a href="/docs/variables/" class="list-group-item {% if page.id == 'docs-variables-index-md' %}active{% endif %}">
        Variables
    </a>
    <a href="/docs/front-matter/" class="list-group-item {% if page.id == 'docs-front-matter-index-md' %}active{% endif %}">
        Front-matter
    </a>
    <a href="/docs/writing-posts/" class="list-group-item {% if page.id == 'docs-writing-posts-index-md' %}active{% endif %}">
        Writing posts
    </a>
    <a href="/docs/creating-pages/" class="list-group-item {% if page.id == 'docs-creating-pages-index-md' %}active{% endif %}">
        Creating pages
    </a>
    <a href="/docs/permalinks/" class="list-group-item {% if page.id == 'docs-permalinks-index-md' %}active{% endif %}">
        Permalinks
    </a>
    <a href="/docs/pagination/" class="list-group-item {% if page.id == 'docs-pagination-index-md' %}active{% endif %}">
        Pagination
    </a>
    <a href="/docs/themes/" class="list-group-item {% if page.id == 'docs-themes-index-md' %}active{% endif %}">
        Themes
    </a>
    <a href="/docs/deployment-methods/" class="list-group-item {% if page.id == 'docs-deployment-methods-index-md' %}active{% endif %}">
        Deployment methods
    </a>
</div>