<div class="list-group">
    <a href="/docs/2.0/developers/" class="list-group-item {% if page.id == 'docs-2-0-developers-index-md' %}active{% endif %}">
        Creating a plugin
    </a>
    <a href="/docs/2.0/developers/spress-lifecycle" class="list-group-item {% if page.id == 'docs-2.0-developers-spress-lifecycle-index-md' %}active{% endif %}">
        Lifecycle
    </a>
    <a href="/docs/2.0/developers/events-list" class="list-group-item {% if page.id == 'docs-2.0-developers-events-list-index-md' %}active{% endif %}">
        Events list
    </a>
    <a href="/docs/2.0/developers/data-sources" class="list-group-item {% if page.id == 'docs-2.0-developers-data-sources-index-md' %}active{% endif %}">
        Data sources
    </a>
    <a href="/docs/2.0/developers/data-writer" class="list-group-item {% if page.id == 'docs-2.0-developers-data-writer-index-md' %}active{% endif %}">
        Data writer
    </a>
    <a href="/docs/2.0/developers/converters" class="list-group-item {% if page.id == 'docs-2.0-developers-converters-index-md' %}active{% endif %}">
        Converters
    </a>
    <a href="/docs/2.0/developers/renderizer" class="list-group-item {% if page.id == 'docs-2.0-developers-renderizer-index-md' %}active{% endif %}">
        Renderizer
    </a>
    <a href="/docs/2.0/developers/io-api" class="list-group-item {% if page.id == 'docs-2.0-developers-io-api-index-md' %}active{% endif %}">
        IO API
    </a>
</div>
