<div class="list-group">
    <a href="/docs/developers/2.0/" class="list-group-item {% if page.id == 'docs-developers-index-md' %}active{% endif %}">
        Create a plugin
    </a>
    <a href="/docs/developers/2.0/spress-lifecycle" class="list-group-item {% if page.id == 'docs-developers-spress-lifecycle-index-md' %}active{% endif %}">
        Lifecycle
    </a>
    <a href="/docs/developers/2.0/events-list" class="list-group-item {% if page.id == 'docs-developers-events-list-index-md' %}active{% endif %}">
        Events list
    </a>
    <a href="/docs/developers/2.0/converters" class="list-group-item {% if page.id == 'docs-developers-converters-index-md' %}active{% endif %}">
        Converters
    </a>
    <a href="/docs/developers/2.0/extending-twig" class="list-group-item {% if page.id == 'docs-developers-extending-twig-index-md' %}active{% endif %}">
        Extending Twig
    </a>
    <a href="/docs/developers/2.0/io-api" class="list-group-item {% if page.id == 'docs-developers-io-api-index-md' %}active{% endif %}">
        IO API
    </a>
</div>
