<div class="list-group">
    <a href="/docs/2.0/getting-started" class="list-group-item {% if page.id == 'docs-getting-started-index-md' %}active{% endif %}">
        Getting started
    </a>
    <a href="/docs/2.0/how-is-work/" class="list-group-item {% if page.id == 'docs-how-is-work-index-md' %}active{% endif %}">
        How's work?
    </a>
    <a href="/docs/2.0/configuration/" class="list-group-item {% if page.id == 'docs-configuration-index-md' %}active{% endif %}">
        Configuration
    </a>
    <a href="/docs/2.0/variables/" class="list-group-item {% if page.id == 'docs-variables-index-md' %}active{% endif %}">
        Variables
    </a>
    <a href="/docs/2.0/front-matter/" class="list-group-item {% if page.id == 'docs-front-matter-index-md' %}active{% endif %}">
        Front-matter
    </a>
    <a href="/docs/2.0/writing-posts/" class="list-group-item {% if page.id == 'docs-writing-posts-index-md' %}active{% endif %}">
        Writing posts
    </a>
    <a href="/docs/2.0/creating-pages/" class="list-group-item {% if page.id == 'docs-creating-pages-index-md' %}active{% endif %}">
        Creating pages
    </a>
    <a href="/docs/2.0/permalinks/" class="list-group-item {% if page.id == 'docs-permalinks-index-md' %}active{% endif %}">
        Permalinks
    </a>
    <a href="/docs/2.0/pagination/" class="list-group-item {% if page.id == 'docs-pagination-index-md' %}active{% endif %}">
        Pagination
    </a>
    <a href="/docs/2.0/themes/" class="list-group-item {% if page.id == 'docs-themes-index-md' %}active{% endif %}">
        Themes
    </a>
    <a href="/docs/2.0/deployment-methods/" class="list-group-item {% if page.id == 'docs-deployment-methods-index-md' %}active{% endif %}">
        Deployment methods
    </a>
</div>
