<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include 'head.html' %}
        {% include 'javascript.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        
        {% block content %}
            {{ page.content }}
        {% endblock %}
            
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'menu.html' with { menu: site.bottom_menu } %}
                    </div>
                    <div class="col-md-6 text-right">
                        {% include 'social-network.html' %}
                    </div>
                </div>
                <p class="text-center">
                    &copy; {{ 'now' | date('Y') }} <a href="http://yosymfony.com">Yo! Symfony</a>.
                    <span class="label label-default">Proudly powered by Spress</span>
                </p>
            </div>
        </footer>
    </body>
</html>
